@model Shipper
@{
  ViewData["Title"] = "Shippers";
}
<h1>@ViewData["Title"]</h1>
<h2>Without Form Tag Helper</h2>
<div>
  <div class="mb-3">
    <label for="shipperIdInput" class="col-sm-2 col-form-label">Shipper Id</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="shipperIdInput"
             value="@Model.ShipperId">
    </div>
  </div>
  <div class="mb-3">
    <label for="companyNameInput" class="col-sm-2 col-form-label">Company Name</label>
    <div class="col-sm-10">
      <input class="form-control" id="companyNameInput"
             value="@Model.CompanyName">
    </div>
  </div>
  <div class="mb-3">
    <label for="phoneInput" class="col-sm-2 col-form-label">Phone</label>
    <div class="col-sm-10">
      <input class="form-control" id="phoneInput" value="@Model.Phone">
    </div>
  </div>
</div>
<h2>With Form Tag Helper</h2>
<form asp-controller="Home" asp-action="ProcessShipper" role="form">
  <div class="mb-3">
    <label asp-for="ShipperId" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <input asp-for="ShipperId" class="form-control">
    </div>
  </div>
  <div class="mb-3">
    <label asp-for="CompanyName" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <input asp-for="CompanyName" class="form-control">
    </div>
  </div>
  <div class="mb-3">
    <label asp-for="Phone" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <input asp-for="Phone" class="form-control">
    </div>
  </div>

  <div class="mb-3">
    <div class="col-sm-10">
      <input type="submit" class="form-control">
    </div>
  </div>
</form>
